@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,500;0,700;1,500;1,700&display=swap";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    background: rgb(51,102,184);
    background: -moz-linear-gradient(90deg, rgba(51,102,184,1) 0%, rgba(9,31,66,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(51,102,184,1) 0%, rgba(9,31,66,1) 100%);
    background: linear-gradient(90deg, rgba(51,102,184,1) 0%, rgba(9,31,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3366b8",endColorstr="#091f42",GradientType=1);
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8em;
    min-height: 100vh;
    flex-direction: column;
}
p {
    color: #fff;
    font-family: ubuntu mono, monospace;
}
.discord {
    position:absolute;
    top:50%;
    left:-90px;
    width:100px;
    height:100px;
    transition:left 150ms;
}
.discord:hover {
    left:-10px;
}
.discord > a > img {
    height:80px;
}
