@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,500;0,700;1,500;1,700&display=swap";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100vw;
    height: 100vh;
}
.container {
    background: linear-gradient(-45deg, #3366b8, #041f4a, #0f5bd6, #273f66);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8em;
    min-height: 100vh;
    flex-direction: column;
}
p {
    color: #fff;
    font-family: ubuntu mono, monospace;
}
.discord {
    position:absolute;
    top:50%;
    left:-90px;
    width:100px;
    height:100px;
    transition:left 150ms;
}
.discord:hover {
    left:-30px;
}
.discord > a > img {
    height:80px;
	border-radius:10px;
}
.container > a > img {
    animation: 
        logoAnimation 500ms forwards,
        logoAnimation2 800ms forwards;
}
@keyframes logoAnimation {
    0% {
        width:10px;
    }
    100% {
        width:130px;
    }
}
@keyframes logoAnimation2 {
    0% {
        filter:blur(5px);
    }
    100% {
        filter:blur(0px);
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
